* {
	margin: 0;
	padding: 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #4a465b;
	font-family: Arial, Sans-serif;
	font-size: 16px;
}

.contenedor {
	/*width: 1000px;*/
	max-width: 1000px; 	/*Ancho maximo*/
	width: 90%;		/*Si la pantalla es menor de 1000px abarca el 90%*/
	margin: 20px auto;	/*Centrar horizontalmente*/

	/*Para solucionar el problema del float*/
	overflow: hidden;
}

header {
	background: #fff;
}
header nav {
	width: 100%;
}
header nav ul {
	width: 100%;
	list-style: none;
	/*Para solucionar el error del float*/
	overflow: hidden;
}
header nav ul li {
	/*Para que los elementos esten uno al lado del otro*/
	float: left;
	/*Otra opcion para poner en una sola linea*/
	/*display: inline-block;*/
}
header nav ul li a {
	text-decoration: none;
	display: inline-block;
	padding: 15px 20px;
	color: #000;
}
header nav ul li a:hover {
	background: #000;
	color: #fff;
}

.main {
	/*width: 700px;*/
	width: 70%;
	background: #fff;

	float: left;
}
.main .imagen {
	width: 100%;
}
.main .imagen img {
	width: 100%;
	/*Elimina el espacio que genera la imagen*/
	vertical-align: top;
}

.main .posts {
	padding: 40px;
}
.main .posts article h2 {
	margin-bottom: 20px;
	color: #424242;
}
.main .posts article p {
	margin-bottom: 15px;
	/*Separacion entre lineas*/
	line-height: 27px;
}

aside {
	/*width: 300px;*/
	width: 30%;
	background: #161f26;
	color: #fff;
	padding: 20px;

	float: left;
}
aside .widget {
	margin-bottom: 20px;
}
aside .widget .titulo {
	color: #ff8000;
	border-bottom: 1px solid #ff8000;
	margin-bottom: 10px;
}
aside .widget ul {
	list-style: none;
}
aside .widget ul li {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	padding: 10px 0px;
}
aside .widget ul li a {
	color: #fff;
	text-decoration: none;
}
aside .widget ul li a:hover {
	color: #8f8f8f;
}
aside .widget p {
	/*Espacio entre lineas*/
	line-height: 27px;
}

footer {
	/*width: 700px;*/
	width: 70%;
	background: #000;
	color: #fff;
	text-align: center;
	padding: 15px 0px;
	
	/*Solucionar el problema del float*/
	/*overflow: hidden;*/
	clear: both;	/*Para empezar una nueva linea*/
}


/*Adaptar el contenido de nuesta pagina*/
/*
- Colocar el ancho de los contenedores en porcentaje.
*/